
.source{
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 0px;
}

.btnNavigation{
  display: flex;
  justify-content: space-between;
  padding:5px;
}
.nav-link.active {
  color: lightgray; /* Change this to the color you want for the active link */
  font-weight: bold; /* Optional: Makes the active link bold */
}


 

